body {
    /* background-color:#157fa7; */
    background: rgb(76,0,143);
    background: linear-gradient(251deg, rgba(76,0,143,1) 0%, rgba(76,11,129,1) 0%, rgba(21,127,167,1) 100%);
    
}



/* Navbar */
.navbar {
    margin: 2% 7%;
    font-size: 18px;
}

@media (min-width: 1500px) {
    .navbar {
        margin: 2% 22%;
        font-size: 1.2vw;
    }
    /* .navbar-brand {
        font-size: 40px;
    } */
}

.nav-link, .navbar-brand {
    color: #f0e301;
    margin-left: 20px;
}

.navbar-nav {
    margin-right: 1%;
    
}



.navbar-brand {
    margin-left: 20px;
    font-size: 40px;
    text-shadow: 3px 3px 5px #444444;
}

@media (max-width: 767px) {
    .navbar-brand {
        font-size: 30px;
       
    }
}


@media (min-width: 1500px) {
    .navbar-brand {
        font-size: 3vw;
        margin-left: 3px;
    }
}

.nav-link:hover, .navbar-brand:hover {
    color: #fff;
}

.navbar-toggler {
    margin-right: 20px;
    color: #f0e301;
}


.custom-toggler.navbar-toggler {
    border-color:rgb(240, 227, 1);
    border-width: 3px;
}

/* .custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: rgb(240, 227, 1);
} */




/* Image */
#image {
    text-align: center;
    padding-bottom: 0;
    
}
.title-img {
    width: 50%;
    border: solid 10px rgba(21,127,167,1);
    border-radius: 30%;
    box-shadow: 10px 10px 10px black;
}

@media (max-width: 767px) {
    .title-img {
        width: 75%;
    }
}

h1 {
    color: #f0e301;
}





/* Intro */
#about-2 {
    text-align: center;
    background-color: #3e3e3e;
    margin-top: -2%;
    margin-bottom: 2%;
    padding: 1% 5% 4%;
}

@media (min-width: 1500px) {
    .quick-intro, .action-p {
        font-size: 30px;
    }   
    .about-bottom-h1, .action-h1 {
        font-size: 70px;
    }
}

.about-bottom-h1, .action-h1 {
    /* font-size: 50px; */
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 5px 5px 10px#1c1c1c;
}

@media(max-width: 767px){
    .about-bottom-h1, .action-h1 {
        font-size: 32px;
    }
    .quick-intro, .action-p {
        font-size: 20px;
    }   
}

@media(min-width: 768px) and (max-width: 1499px){
    .quick-intro, .action-p {
        font-size: 25px;
    }   
    .about-bottom-h1, .action-h1 {
        font-size: 50px;
    }
}

.about-text {
    margin: 0 7%;
    padding: 0 10%;
    color: #dad8d8;
    /* border-radius: 1%;
    box-shadow: 10px 10px 10px black;
    background-color: #444444; */
}

@media (min-width: 1319px) {
    .about-text {
        margin: 2% 20% 1%;
    }
}

.quick-intro a{
    color: #f0e301;
    /* text-decoration-color: #f0e301; */
} 




/* Text Image Links */

#text-images {

}

.text-img {
    padding: 3%;
}



@media(min-width: 767px){
    .text-img:hover {
        padding: 2%;
        transition: all .3s;
        transition-delay: .1s;
    }
}

.text-img img{
    width: 100%; 
    opacity: .9;
    border: solid 10px #157fa7;
    border-radius: 2%;
    box-shadow: 10px 10px 10px black;
}

.text-img img:hover {
    opacity: 9;
    /* transition: .3s; */
    transition-duration: 1s ease;  
    }













/* Video */
.iframe-main {
    /* background-color: rgba(21,127,167,1); */
    /* border: solid 10px rgba(21,127,167,1); */
    /* border-radius: 2%  2% 0  0 ; */
    /* box-shadow: 10px 0 10px black; */
    /* margin: 5% 5% 0; */
    
}

.iframe-width {
    padding: 5% 10%; 
      
}

@media(max-width: 767px){
    .iframe-width {
        padding: 5% 3%;   
    }

    
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;  
    /* box-shadow: 10px 10px 10px black;   */
}

.iframe-container iframe {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;  
}


#video-container {
   
    /* background-color: #444444;;
    padding: 2%;
    border-radius: 2%;
    box-shadow: 10px 10px 10px black; 
    margin: 5% */
    
}



/* @media (min-width: 767px){
    .iframe-container iframe {
        margin: auto;
        padding: 3.5%;
        
    }
}  */


/* Call to Action */

#call-to-action {
    background-color: #3e3e3e;
    text-align: center;
    padding: 7% 10%;
    margin-top: -10%;
}



.action-p {
    color: #dad8d8;
    padding-bottom: 2%;
}


.btn {
    background: #f0e301;
    background-image: -webkit-linear-gradient(top, #f0e301, #f0e301);
    background-image: -moz-linear-gradient(top, #f0e301, #f0e301);
    background-image: -ms-linear-gradient(top, #f0e301, #f0e301);
    background-image: -o-linear-gradient(top, #f0e301, #f0e301);
    background-image: linear-gradient(to bottom, #f0e301, #f0e301);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #157fa7;
    
    text-decoration: none;
    box-shadow: 5px 5px 10px #1c1c1c;
  }

@media (min-width: 768px) {
    .btn {
        font-size: 30px;
        padding: 10px 30px 10px 30px;
    }  
}

@media (max-width: 767px) {
    .btn {
        font-size: 20px;
        padding: 8px 30px 8px 30px;
    } 
}
  
  
.btn:hover {
    background: #f0e000;
    background-image: -webkit-linear-gradient(top, #f0e000, #ccbb04);
    background-image: -moz-linear-gradient(top, #f0e000, #ccbb04);
    background-image: -ms-linear-gradient(top, #f0e000, #ccbb04);
    background-image: -o-linear-gradient(top, #f0e000, #ccbb04);
    background-image: linear-gradient(to bottom, #f0e000, #ccbb04);
    text-decoration: none;
}







/* Social Media */

.bottom-container {
    text-align: center;
    padding: 40px;
}

.footer-link {
    padding: 18px 25px;
    font-size: 18px;
    text-decoration: none;
    color: #f0e301;
    
}

a:hover {
    color: white;
}

.copyright {
    padding-top: 25px;
    color: #f0e301;
}



/* Social Media */

.bottom-container {
    text-align: center;
    padding: 40px;
}

.footer-link {
    padding: 18px 25px;
    font-size: 20px;
    text-decoration: none;
    color: #f0e301;
    
}

@media (min-width: 1500px) {
    .footer-link {
        /* margin: 2% 22%; */
        font-size: 1.5vw;
    }
}

a:hover {
    color: white;
}

.copyright {
    padding-top: 25px;
    color: #f0e301;
    font-size: 18px;
}




/* Practice */

/* .practice-div {
    position: relative;
    width: 600px;
    height: 300px;
    background-color: white;
}
.practice-h1 {
    position: absolute;
    top: 200px;
    
} */


